{% extends "layout.html" %}
    {% block body %}
        <main class="form-signin w-50 m-auto container mt-5 mb-5 text-center p-5">
          <form class="container">
{#            <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">#}
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" fdprocessedid="4f9veq">
              <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" fdprocessedid="0t5p4j">
              <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3 mt-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" >Sign in</button>
          </form>
        </main>
{% endblock %}
